body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.div1 h1{
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}
.div1 p {
  text-align: center;
  color: #666;
  font-size: 1.2em;
}

#startButton {
  background-color: #28a745;
  color: white;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  width: 200px;
  line-height: 50px;
  position: relative;
  margin-top: 100px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#startButton:hover {
  background-color: #218838;
}

video {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
}
#salidaBtn {
  background-color: #28a745;
  color: white;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  width: 200px;
  line-height: 50px;
  position: relative;
  margin-top: 50px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
#salidaBtn:hover {
  background-color: #218838;
}